/* * {
    outline: 1px red solid;
} */

#playerChoice {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#playerChoice > button {
    padding: 30px 40px;
    margin: 0px 10px;
    font-size: 20px;
}